/*body{*/
/*    color: mintcream;*/
/*}*/

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.col{
    /*display: flex;*/
    flex-wrap: wrap;
}

#myInput{

}

/*.coffee-selection {*/
/*    flex-wrap: wrap;*/
/*    justify-content: flex-start*/
/*}*/


.choices{
    display: flex;
    flex-direction: column;
}
.newOne{
    display: flex;
    flex-direction: column;
}

::placeholder {
    color: rebeccapurple;
    /*background-color: yellow;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
}
#option{
    justify-content: center;
    align-items: center;
}

#coffees{
    /*border: none;*/
    display: flex;
    color: orangered;
    justify-content: center;
    /*    border: 1px solid #ccc;*/
    /*    border-radius: 4px;*/
    /*    box-sizing: border-box;*/
    /*    width: 18rem;*/

}

.coffee{
    width: 200px;
    border: 7px solid green;
    padding: 25px;
    margin: 10px;
}

.jumbotron{
    background-image: url("/img/coffeeJT.jpg");
    background-size: cover;
    height: 100%;
}

#header{
    color: black;
    border: 1px solid mintcream;

}





/*input[type=text], select {*/
/*    width: 100%;*/
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
/*    display: inline-block;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    box-sizing: border-box;*/
/*}*/